<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C243CDB81C0DA67D008126DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C243CDD41C0DA67D008126DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C243CDDF1C0DA67D008126DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
